// src/components/HeroSection/HeroSection.scss
.hero-section {
  width: 100%;
  background-color: #f8f9fa; /* Optional: to visually distinguish the full width section */

  .hero-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px; /* Optional: to add some padding on smaller screens */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
    border-bottom: #dddddd solid 1px;
  }

  .hero-info {
    flex: 1;

    h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
      color: #333;
    }

    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 2rem;
    }

    .social-media {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-decoration: none;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.8;
        }

        svg {
          margin-right: 0.5rem;
        }

        &.twitter {
          background-color: #1da1f2;
        }
        &.facebook {
          background-color: #4267b2;
        }
        &.linkedin {
          background-color: #0077b5;
        }
        &.instagram {
          background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        }
      }
    }
  }

  .hero-image {
    flex: 1;
    text-align: right;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    .hero-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .hero-info {
      margin-bottom: 2rem;

      h1 {
        font-size: 3.5rem;
      }
    }

    .hero-image {
      text-align: center;
    }
  }
}
