.mobile-menu-container {
  .menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
  }

  .mobile-menu {
    background-color: #000; /* Match the header background color */
    position: absolute;
    top: 60px; /* Adjust this to match your header height */
    width: 100%;
    left: 0;

    .mobile-nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      a {
        color: white; /* White link color */
        text-decoration: none;
        font-size: 16px; /* Adjust font size as needed */
        margin: 10px 0; /* Space between links */
        &:hover {
          color: #f39c12; /* Hover color */
        }
      }
    }

    .mobile-social-media-icons {
      display: flex;
      justify-content: center;
      gap: 15px;
      padding: 10px 0;

      a {
        color: white; /* White icon color */
        &:hover {
          color: #f39c12; /* Hover color */
        }
      }
    }
  }
}
