.header {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo img {
    max-width: 100px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;

    a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        color: #f39c12;
      }
    }
  }

  .social-media-icons,
  .social-icons {
    display: flex;
    gap: 15px;

    a {
      color: white;
      &:hover {
        color: #f39c12;
      }
    }
  }

  /* Burger menu specific styles */
  .bm-menu {
    background: #373a47;
    padding-top: 2.5em;
    box-sizing: border-box;
    overflow: hidden;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px); // Adjust if needed to account for any padding
  }

  .mobile-nav-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-item {
    color: #b8b7ad;
    text-decoration: none;
    font-size: 1.15em;
    display: block;
    padding: 10px 0;
    text-align: center;

    &:hover {
      color: #ffffff;
    }
  }

  .social-icons {
    margin-top: 20px;
    justify-content: center;

    a {
      font-size: 24px;
      margin: 0 10px;
    }
  }

  @media (max-width: 768px) {
    .nav-links,
    .social-media-icons {
      display: none;
    }
  }
}

/* Ensure the burger menu doesn't create a scrollbar */
.bm-menu-wrap {
  top: 0;
  left: 0;
  width: 100% !important; // Force full width
  height: 100% !important; // Force full height
}

.bm-overlay {
  top: 0;
  left: 0;
}
