.header {
  .navbar {
    padding: 0 20px;
    background-color: #333;
    color: #fff;

    .navbar-brand img {
      height: 50px; // Adjust size as needed
    }

    .navbar-nav .nav-link {
      color: #fff;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .navbar-nav .social-media .nav-link {
      font-size: 24px;
      margin-left: 10px;

      &:hover {
        color: #ddd;
      }
    }
  }
}
