.notFound {
  min-height: calc(100vh - var(--header-min-height) - var(--footer-min-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  color: #fff;
  background: var(--gradient-underwater);
}

.hero {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.title {
  font-size: var(--heading-font-size);
  font-family: var(--font-acorn-bold);
  line-height: 1.2;
  color: var(--color-darkest);
  margin: 0 auto;
}

.animatedLetter {
  display: inline-block;
  white-space: pre;
}

.subtitle {
  font-family: var(--font-acorn-light);
  font-size: var(--heading-font-size-2);
  color: var(--color-darker);
  margin: 0 0 2rem 0;
  line-height: 1.4;
}

.content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.description {
  font-size: clamp(1.6rem, 15vw, 4rem);
  font-family: var(--font-gt-america-regular);
  color: var(--color-dark);
  margin: 0 0 4rem 0;
}

.homeLink {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: var(--font-gt-america-regular);
  background-color: var(--color-darkest);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.homeLink:hover {
  background-color: var(--color-darker);
}

@media (width <= 1240px) {
}

@media (width <= 1200px) {
}

@media (width <= 992px) {
  .notFound {
    min-height: calc(100vh - var(--header-min-height-md) - var(--footer-min-height-md));
    padding: 1.5rem;
  }
}

@media (width <= 768px) {
  .notFound {
    min-height: calc(100vh - var(--header-min-height-sm) - var(--footer-min-height-sm));
    padding: 1rem;
  }

  .title {
    font-size: clamp(80px, 15vw, 200px);
  }

  .content {
    padding: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media (width <= 576px) {
  .notFound {
    min-height: calc(100vh - var(--header-min-height-xs) - var(--footer-min-height-xs));
  }

  .content {
    padding: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
